body {
    background-color: #101010;
    color: #f8f8f8; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #202020;
}

header h1 {
    margin-top: 0;
    padding: 0.3em 0.3em;
}

nav {
    padding: 1em 0em 1em 0em;
}

nav ul {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
}

nav ul li {
    display: inline;
    padding: 0em;
    margin-bottom: 0em;
}

nav ul li a{
    color: #f8f8f8;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    text-decoration: none;
}

nav ul li a:hover  {
    background-color: #101010;
}

#calculator {
    background-color: #000000;
    padding: 0.7em;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

#calculator input {
    /*margin: .2em .7em 1em .2em;*/
    margin: 0em 0em 1em 0em;
    border: 0;
    padding: 0;
    height: 5em;
    width: 100%;
}

#calculator ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#calculator button {
    color: #f8f8f8;
    background-color: #101010;
    appearance: none;
    border-style: none;
    margin: 0.2em;
    padding: 0;
    width: 5em;
    height: 5em;
    cursor: pointer;
}

#calculator button:hover {
    background-color: #1010f0;
}

#calculator button:active{
    background-color: #10a0f0;
}